{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Tipo de Placa</title>
    <style>
        {{ estilo_padrao }}
    </style>
</head>
<body>
    <div class="form-container">
        <h2>Editar Tipo de Placa</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <button type="submit" class="salvar">Salvar</button>
                <a href="{% url 'cadastrar_tipoplaca' %}" class="menu">Voltar</a>
            </div>
        </form>
    </div>
</body>
</html>
